*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier Prime' monospace;
    display: flex;
    text-align: center;
    justify-content: center;
    background: linear-gradient(20deg, rgb(56, 3, 52) 10%, rgb(37, 8, 30) 50%);
}

.main-box{
    width: 25%;
    box-shadow: 0 0 5px grey, inset 0 0 10px black;
    color: white;
    font-weight: 500;
    height: 95vh;
    display: flex;
}

.main-box>.box-one{
    width: 95%;
    margin-left: 2.3%;
    border: 1px solid black;
    height: 92vh;
    margin-top: 6px;
    background: linear-gradient(20deg, rgb(45, 44, 58) 10%, rgb(58, 52, 52) 40%);
}

.main-box>.box-one>.box-two{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 2.5%;
}

.main-box>.box-one>.box-two>span{
    display: flex;
    justify-content: space-around;
}

.main-box>.box-one>.box-two>span>small{
    font-size: 10px;
    margin-top: 4px;
}

.main-box>.box-one>.box-two>span>button{
    width: 80px;
    height: 28px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1px 3px;
    outline: none;
    background-color: rgb(59, 55, 55);
    color: white;
    margin-left: 2px;
}

.main-box>.box-one>.box-two>span>button:hover{
    transform: scale(0.95);
}

.main-box>.box-one>.box-three{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 2.5%;
}

.main-box>.box-one>.box-three>span{
    display: flex;
    justify-content: space-around;
}

.main-box>.box-one>.box-three>span>button{
    width: 80px;
    margin-top: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 33px;
    background-color: black;
    color: white;
    outline: none;
    margin-left: 2px;  
}

.main-box>.box-one>.box-three>span>button:hover{
    transform: scale(0.95);
}

.main-box>.box-one>.box-three>span>small{
    font-size: 10px;
}

.main-box>.box-one>.box-one-top{
    width: 95%;
    margin-left: 2.5%;
    height: 29vh;
    /* box-shadow: inset 0 0 10px grey; */
    border: 1px solid rgb(34, 32, 32);
}

.main-box>.box-one>.box-one-top>#box-one-bottom{
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    justify-content: space-around;
}

.main-box>.box-one>.box-one-top>#box-one-bottom>button{
    width: 100px;
    height: 25px;
    margin-left: 2px;
    margin-top: 6px;
    outline: none;
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgb(82, 19, 82);
}

.main-box>.box-one>.box-one-top>#box-one-bottom>button:hover{
    transform: scale(0.95);
}

.main-box>.box-one>.box-one-top>#box-one-text{
    display: flex;
    margin-top: 4px;
    font-size: 13px;
    justify-content: space-around;
}

.main-box>.box-one>.box-one-top>#box-one-middle{
    width: 95%;
    margin-left: 2.5%;
    height: 15vh;
    margin-top: 4px;
    border: 1px solid black;
    box-shadow: inset 0 0 8px grey;
}

.main-box>.box-one>.box-one-top>#box-one-middle>input[type=text]{
    width: 95%;
    height: 13vh;
    border: none;
    box-shadow: 0 0 8px black;
    margin-left: 2.5%;
    margin-top: 5px;
}

/* Responsiveness */

@media (max-width: 830px){
    .main-box{
        width: 100%;
    }
}